<footer>
    Anxious
    <br>
    <img src="../img/nervous.png">
    <div><a href="https://www.flaticon.com/authors/vectors-market" title="Vectors Market"></a>
    <br>
    Ambulance Services 
    <br>
    O.R. Scheduling Logistics
    <br>
    E- Commerce
</footer>