<header>
<nav class="navigation">
    <ul>
     <li href='/oncologico'>Oncologico</li>
     <li href='/ediatrico'>Pediatrico</li>
     <li href='/asem'>Asem</li>
     <li href='/hurra'>Hurra</li>
    </ul>
</nav>
</header>